.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.gitattributes
.prettierignore
.prettierrc
.watchmanconfig
Jenkinsfile
.eslintrc.js
babel.config.js
jsconfig.json
publish.sh
sonar*
.editorconfig
babel.config.js
jest.config.js
resultsProcessor.js
sonar-project.properties
lcov-report
.babel.config.js
coverage-final.json
lcov.info
test-report.xml
coverage
.github